# Q1 Print following 

ineuron 

ineuron ineuron 

ineuron ineuron ineuron 

ineuron ineuron ineuron ineuron

In [6]:
for i in range(4):
    for j in range(i+1):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

# Q2 Print following

        ineuron
    
    ineuron   ineuron
    
ineuron ineuron    ineuron

    ineuron   ineuron
    
        ineuron

In [47]:
n=8
for i in range(n):
    if i<((n+1)/2):
        print('    '*(n-i)+" ineuron "*(i+1))
    else:
        print('    '*(i+1)+" ineuron "*(n-i))

                                 ineuron
                             ineuron  ineuron
                         ineuron  ineuron  ineuron
                     ineuron  ineuron  ineuron  ineuron
                 ineuron  ineuron  ineuron  ineuron  ineuron
                         ineuron  ineuron  ineuron
                             ineuron  ineuron
                                 ineuron

In [48]:
l=[[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},
   ["ineuron","data science"]]

# Q3 try to extract all list entity

In [49]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

# Q4 try to extract all dict entity

In [50]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

# Q5 try to extract all tuple entity

In [51]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

# Q6 try to extract all numerical data it may be a part of dict key and values

In [54]:
for i in l:
    if type(i)==dict:
        for j,k in i.items():
            if type(j)==int:
                print(j)
            if type(k)==int:
                print(k)
    else:
        for j in i:
            if type(j)==int:
                print(j)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

# Q7 try to give summation of all numerical data?

In [55]:
sum=0
for i in l:
    if type(i)==dict:
        for j,k in i.items():
            if type(j)==int:
                sum=sum+j
            if type(k)==int:
                sum=sum+k
    else:
        for j in i:
            if type(j)==int:
                sum=sum+j

In [56]:
sum

156

# Q8 try to filter out all odd values out of all numerical data which is part of a list?

In [62]:
odd_values=[]
for i in l:
    if type(i)==list:
        for j in i:
            if (type(j)==int) and (j%2==1):
                print(j)
                odd_values.append(j)

1
3

# Q9 try to extract ineuron out of this data?

In [64]:
for i in l:
    if type(i)==dict:
        for j,k in i.items():
            if j=="ineuron":
                print(j)
            if k=="ineuron":
                print(k)
    else:
        for j in i:
            if j=="ineuron":
                print(j)

ineuron
ineuron

# Q10 Try to find out no. of occurences of all data?

In [66]:
data=[]
for i in l:
    if type(i)!=dict:
        for j in i:
            data.append(j)
    else:
        for j,k in i.items():
            data.append(j)
            data.append(k)

In [70]:
set_data=set(data)

In [71]:
for i in set_data:
    print(i,":",data.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
k3 : 1
kumar : 1
sudh : 1
8 : 1
45 : 1
data science : 1
ineuron : 2
23 : 1
k1 : 1

# Q11 Try to find out no. of keys in dict element?

In [72]:
for i in l:
    if type(i)==dict:
        print(len(list(i.keys())))

5

# Q12 try to filter out all string data?

In [73]:
for i in l:
    if type(i)!=dict:
        for j in i:
            if type(j)==str:
                print(j)
    else:
        for j,k in i.items():
            if type(j)==str:
                print(j)
            if type(k)==str:
                print(k)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

# Q13 try to find out alpha numeric in data?

In [75]:
for i in l:
    if type(i)!=dict:
        for j in i:
            if type(j)==str and j.isalnum():
                print(j)
    else:
        for j,k in i.items():
            if type(j)==str and j.isalnum():
                print(j)
            if type(k)==str and k.isalnum():
                print(k)

k1
sudh
k2
ineuron
k3
kumar
ineuron

# Q14 try to find out multiplication of all numeric values in individual collection inside data set?

In [78]:
for i in l:
    if type(i)!=dict:
        mul=1
        for j in i:
            if type(j)==int:
                mul=mul*j
    else:
        mul=1
        for j,k in i.items():
            if type(j)==int:
                mul=mul*j
            if type(k)==int:
                mul=mul*k
    if mul!=1:            
        print(i,":",mul)
    else:
        print(i,":",0)

[1, 2, 3, 4] : 24
(2, 3, 4, 5, 6) : 720
(3, 4, 5, 6, 7) : 2520
{45, 4, 5, 23} : 20700
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : 1008
['ineuron', 'data science'] : 0

# Q15 try to unwrap all collection inside collection and create a flat list?

In [79]:
flat_list=[]
for i in l:
    if type(i)!=dict:
        for j in i:
            flat_list.append(j)
    else:
        for j,k in i.items():
            flat_list.append(j)
            flat_list.append(k)

flat_list

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']